.featured-works {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../../public/assets/section-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 0;
  display: grid;
  gap: 60px;
  justify-content: center;
  align-items: start;
  margin: 26px auto;
  z-index: 10;
  justify-items: center;
}

.works-container {
  width: 70%;
}