.services {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #d7a36eff;
  min-height: 100vh;
}

.services-hero {
  text-align: center;
}

.services-hero .section-description {
  max-width: 600px;
  margin: 0 auto;
}
