.services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../public/assets/fondo_oscuro.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #d7a36eff;
  min-height: 100vh;
}

.services-hero {
  text-align: center;
}

.services-hero .section-description {
  max-width: 600px;
  margin: 0 auto;
}
