@media (max-width: 768px) {
  .work-title {
    font-size: 28px;
  }

  .work-video-container {
    height: 100vw;
  }

  .work-description {
    font-size: 18px;
  }

  .work-video-container.horizontal .video-thumbnail {
    width: 100%;
  }
}