.artistic-formats {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  justify-content: center;
  align-items: start;
  z-index: 10;
  color: #d7a36eff;
}
