.artistic-format {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.image-container {
  grid-column: 1 / -1;
  overflow: hidden;
  border-radius: 20px;
}

.artistic-format-image {
  width: 100%;
  height: 23vw;
  border-radius: 20px;
  background-color: black;
  margin-bottom: 20px;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover .artistic-format-image {
  transform: scale(0.95);
  filter: brightness(0.7);
}

.artistic-format-title {
  font-size: 36px;
  margin: 12px 0 8px;
  font-family: 'Carmorant Garamond', serif;
  line-height: 1.3em;
  font-weight: 400;
}

.artistic-format-description {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.artistic-format-btn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: 400;
}