.portfolio {
  background-color: black;
  color: white;
  width: 100%;
  padding: 80px 0;
  display: grid;
  grid-template-columns: 35% 35%;
  gap: 60px;
  justify-content: center;
  align-items: start;
  margin: 26px auto;
  z-index: 10;
}