.portfolio {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #d7a36eff;
  width: 100%;
  padding: 80px 0;
  display: grid;
  grid-template-columns: 35% 35%;
  gap: 60px;
  justify-content: center;
  align-items: start;
  z-index: 10;
}