.presentation {
  padding: 80px 20px;
  z-index: 10;
  position: relative;
  display: grid;
  grid-template-rows: 171px auto;
  grid-template-columns: 493px auto;
  justify-content: left;
  gap: 30px;
  color: white;
  height: 590px;
}

.presentation-title {
  font-size: 64px;
  margin-bottom: 20px;
  font-family: "Merriweather";
  font-weight: 700;
  line-height: 1.3em;
  grid-row: 1/2;
  grid-column: 1/2;
}

.presentation-description {
  font-size: 24px;
  line-height: 1.5em;
  grid-column: 1/2;
  grid-row: 2/3;
}
