@media (max-width: 768px) {
  .makeup {
    background-attachment: unset;
  }

  .sculptures {
    background-attachment: unset;
  }

  .characters-and-performances {
    background-attachment: unset;
  }
}