.footer {
  background-color: black;
  color: white;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 80px 0;
}

.footer-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.footer-description {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.footer-socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  font-size: 54px;
  color: white;
}