.service {
  display: grid;
  grid-template-rows: auto auto;
}

.image-container {
  overflow: hidden;
  border-radius: 20px;
}

.service-image {
  width: 100%;
  height: 23vw;
  border-radius: 20px;
  background-color: black;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover .service-image {
  transform: scale(0.95);
  filter: brightness(0.7);
}

.service-info {
  background-color: white;
  color: black;
  text-align: center;
  padding: 40px;
  width: 80%;
  justify-self: center;
  margin-top: -60px;
  border-radius: 20px;
  min-height: 315px;
}

.service-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Carmorant Garamond', serif;
  line-height: 1.3em;
  font-weight: 400;
}

.service-description {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.service-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  background-color: black;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 40px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service-btn:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 7px 27px;
}