* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
}

.main-container {
  display: grid;
  grid-template-columns: 1224px;
  align-items: center;
  justify-content: center;
}