* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
}

.main-container {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  justify-items: center;
}