/* Cormorant Garamond */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../public/assets/fonts/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('../public/assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
