.about {
  padding: 60px 20px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-content {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 40px;
  align-items: center;
}

.about-content .section-title {
  grid-column: 1 / -1;
  width: 100%;
}

.about-image {
  width: 80%;
  border-radius: 20px;
  background-color: black;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}